
/* status icon */

.status-success{
    color: #00BD00;
}


.status-process{
    color: #E7960B;
}

.status-fail{
    color: red;
}

.login-content{
    width: 300px;
    margin: auto;
}

.login-content input{
    margin-top: 10px;
}