{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/adhoc.css">
{% endblock %}


{% block content %}
    <div class="container search-container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <form action="{% url 'adhoc_list' %}" method="get">
                <input class="form-control" type="text" placeholder="search" name="query" value="{% if query %}{{ query }}{% endif %}">
            </form>



            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>
            </button>
        </div>

    </div>

    <div class="container">
        <table class="table table-striped adhoc-table ">
            <thead>
            <tr>
                <th width="10%">Name</th>
                <th width="10%"><i class="fa fa-laptop fa-lg"></i> Pattern</th>
                <th width="10%"><i class="fa fa-cubes fa-lg"></i> Module</th>
                <th width="30%"><i class="fa fa-location-arrow fa-lg"></i> Args</th>
                 <th width="10%"><i class="fa fa-user fa-lg"></i> By who</th>
                <th width="20%"><i class="fa fa-clock-o fa-lg"></i> Start time</th>
                <th width="10%"><i class="fa fa-gears fa-lg"></i> Operation</th>
            </tr>
            </thead>
            <tbody>
            {% for adhoc in adhocs %}
                <tr>
                    <td>{{ adhoc.adhoc_name }}</td>
                    <td>{{ adhoc.adhoc_pattern }}</td>
                    <td>{{ adhoc.ansible_module.module_name }}</td>
                    <td>{{ adhoc.adhoc_args }}</td>
                    <td>{{ adhoc.auth_user.username }}</td>
                    <td>{{ adhoc.start_time|date:"Y-m-d G:i:s" }}</td>
                    <td>
                        <a class="ops-link" href="{% url 'adhoc_list' %}{{ adhoc.id }}"><i
                                class="fa fa-file fa-lg "></i></a>
{#                        <a class="ops-link retry" href="javascript:void(0)" adhoc_id="{{ adhoc.id }}"><i#}
{#                                class="fa fa-repeat"></i></a>#}
                        <a class="ops-link" href="javascript:void(0)"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    {% if adhocs.paginator.num_pages > 1 %}
    <nav class="page">
        <ul class="pagination">
            {% if adhocs.has_previous %}
                <li class=""><a
                        href="/adhoc/?page={{ adhocs.previous_page_number }}{% if query %}&query={{ query }}{% endif %}"
                        aria-label="Previous"><span aria-hidden="true">prev</span></a></li>
            {% endif %}
            {% for i in page_range %}
                <li class="{% if adhocs.number == i %}active{% endif %}"><a
                        href="/adhoc/?page={{ i }}{% if query %}&query={{ query }}{% endif %}">{{ i }}<span
                        class="sr-only">(current)</span></a>
                </li>
            {% endfor %}
            {% if adhocs.has_next %}
                <li class="">
                    <a href="/adhoc/?page={{ adhocs.next_page_number }}{% if query %}&query={{ query }}{% endif %}"
                       aria-label="Next">
                        <span aria-hidden="true">next</span></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}


    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Command</h4>
                </div>
                <form class="form-horizontal" action="{% url 'adhoc_add' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">name</label>

                            <div class="col-sm-8">
                                <input class="form-control" name="adhoc_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">pattern</label>

                            <div class="col-sm-8">
                                <select class="form-control" name="adhoc_pattern">
                                    {% for pattern in patterns %}
                                    <option value="{{ pattern.value }}">{{ pattern.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">module</label>

                            <div class="col-sm-8">
                                <select class="form-control" name="module_id">
                                    {% for module in modules %}
                                        <option value="{{ module.id }}">{{ module.module_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">args</label>

                            <div class="col-sm-8">
                                <input class="form-control" name="adhoc_args">
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Run</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/js/adhoc.js"></script>
    <script>
        var adhoc_add = "{% url 'adhoc_add' %}";
        $(function () {
            Adhoc.init();
        })
    </script>
{% endblock %}