<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Ansible Power</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block css %}
    {% endblock %}
</head>
<body>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">POWER</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">Dashboard</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'adhoc_list' %}">Commands</a></li>
                    <li><a href="{% url 'job_list' %}">Jobs</a></li>
                    <li><a href="/admin/host">Hosts</a></li>
                    <li><a href="/admin/playbook/ansibleplaybook/">Playbook Templates</a></li>
                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="#"><i class="fa fa-user fa-lg"></i> {{ request.user.username }}</a></li>
                    <li><a href="{% url 'logout' %}?next={{ request.path }}"><i class="fa fa-sign-out fa-lg"></i> sign
                        out</a></li>
                {% else %}
                    <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in fa-lg"></i> sign
                        in</a></li>
                {% endif %}


            </ul>

        </nav>
    </div>
</header>

{% block content %}
{% endblock %}



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content login-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Please Sign In </h4>
            </div>
            <form class="form-horizontal " action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="modal-body login-body login-input">
                    <input type="text" class="form-control" name="username" placeholder="username">
                    <input type="password" class="form-control" name="password" placeholder="password">
                    <input type="hidden" name="next" value="{{ request.path }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="submit" class="btn btn-primary">sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/vender/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/vender/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/vender/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/vender/bootbox.min.js"></script>
<script type="text/javascript" src="/static/js/vender/jquery.cookies.2.2.0.min.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
<script>
    $(function () {
        Ansible.init();
    })
</script>
{% block script %}
{% endblock %}
</body>
</html>