<thead>
<td width="35%">Task name</td>
<td width="5%">Status</td>
<td width="60%">Log</td>
</thead>
<tbody>
{% for task in job_tasks %}
    <tr>
        <td>{{ task.task_name }}</td>
        <td style="text-align: center">
            {% if task.failure %}
                <i class="fa fa-circle status-fail"></i>
            {% else %}
                <i class="fa fa-circle status-success"></i>
            {% endif %}
        </td>
        <td>
            <div class="log-div">
                {% if task.stdout or task.stderr %}
                <pre class="log-pre">{% if task.stdout %}{{ task.stdout }}{% else %}{{ task.stderr }}{% endif %}</pre>
                {% endif %}
            </div>

        </td>
    </tr>
{% endfor %}
</tbody>